<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="browser" value="chrome"></parameter>
    <classes>     
      <class name="package1.Project1.TestCase1_LoginToAmazon"/>
      <class name="package1.Project1.TestCase2_LoginToAmazonSearch"/>
      <class name="package1.Project1.TestCase3_LoginSearchingAddingToCart"/>
      <class name="package1.Project1.TestCase4_NewUserRegistration"/>
      <class name="package1.Project1.TestCase5_ReachingTillCartwithoutLogin"/>
      <class name="package1.Project1.TestCase6_LogintoamazonwithInvalidcredentials"/>
      <class name="package1.Project1.TestCase7_UserEditProfile"/>
      <class name="package1.Project1.TestCase8_SearchingWithFilters"/>      
      <class name="package1.Project1.TestCase9_AddorRemoveItemsFromCart"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
